/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teyvat font', Nunito;
    background: #fff8f0;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #333;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

/* Header Section */
header {
    background: linear-gradient(#f4939b, #d0a0a9);
    padding: 8rem 2rem;
    text-align: center;
    color: #543443;
    border-bottom: 8px solid #a06078;
}

.header-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: 'Teyvat font', sans-serif;
}

.header-content p {
    font-size: 1.5rem;
}

/* About Section */
.about {
    padding: 4rem 2rem;
    background: linear-gradient(#ffffff, #ffffff);
    text-align: center;
    border-top: 4px dashed #85333f;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Projects Section */
.projects {
    padding: 4rem 2rem;
    background: linear-gradient(#bcd2ff, #5488c9);
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #5e4b56;
}

.project-card {
    display: inline-block;
    width: 30%;
    padding: 2rem;
    margin: 1rem;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
    text-align: center;
}

.project-card:hover {
    transform: translateY(-10px);
    background: #ffebf0;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-card p {
    color: #555;
}

/* Contact Section */
.contact {
    padding: 4rem 4rem;
    background: linear-gradient(#c1d4f1, rgb(140, 168, 211));
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.contact-links a {
    margin: 1rem;
    padding: 1rem 2rem;
    background: linear-gradient(135deg, #fbb298, #8aa3c4);
    border-radius: 50px;
    color: hsl(225, 14%, 11%);
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
}

.contact-links a:hover {
    background: linear-gradient(#92beb6, #bce4f9);
    transform: translateY(-5px);
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background: #333;
    color: white;
    font-size: 1rem;
}
